/* VARIABLES */
:root{
    --color-primario: #fcb03b;
    --color-secundario: #e92f3d;
    --color-background-sombra: #e92f3d30;
    --color-background: #eff6f5;
    --color-texto: #a1a5a6;
    --text-default: 'Open Sans';
}

/* GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-default);
}

body{
    background: var(--color-background);
}

.titulos{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.subtitulos{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primario);
}

.btn{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background: var(--color-primario);
    font-weight: 700;
    padding: 15px 30px;
    outline: none;
    border: 2px solid var(--color-primario);
    cursor: pointer;
    position: relative;
    top: 20px;
    transition: all 0.3s;
}


.btn:hover{
    padding: 15px 45px;
}

.btn span{
    padding-left: 10px;
    color: white;
}

/* MENU PRINCIPAL */

.menu-principal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 30px;
    margin-top: 10px;
    background: var(--color-background);
    /* Profundidad eje z */
    z-index: 1;
}

.logo img{
    width: 130px;
    padding-top: 25px;
    cursor: pointer;
}

.menu-bar{
    display:flex;
    width: 100%;
    justify-content: space-between;
}

.menu-bar .enlaces ul li{
    display: inline-block;
    padding: 0 10px;
}

.menu-bar .enlaces ul li a{
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-texto);
    font-weight: 600;
    /* linea roja en links */
    background: linear-gradient(currentColor, currentColor);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.5s;
}
.menu-bar .enlaces ul li a:hover{
    color: var(--color-secundario);
    background-size: 50% 2px;
}

.menu-bar .sociales a{
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-texto);
    transition: all 0.5s;
}

.menu-bar .sociales a:hover{
    color: var(--color-secundario);
}

.menu-principal i{
    cursor: pointer;
    color: var(--color-texto);
    font-size: 30px;
    float: right;
    display: none; /* Ocultamos los botones en tamanio completo */
    transition: all 0.5s;
}

.menu-principal i:hover{
    color: var(--color-secundario);
}




/* SLIDER DE PRODUCTOS */

#menu-productos .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

.contenedor-principal #btn-izquierda,
.contenedor-principal #btn-derecha{
    position: absolute;
    height: 10%;
    width: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 40px;
    margin: 0 15px;
    color: var(--color-secundario);
    z-index: 500;
    outline: none;
    transition: all 0.3s;
}

.contenedor-principal #btn-izquierda:hover,
.contenedor-principal #btn-derecha:hover{
    background: var(--color-background-sombra);
    transform: translateY(5px);
}

/* Posicionamos los botones a la derecha e izquierda: */
.contenedor-principal #btn-derecha{
    right: 0;
}

.contenedor-principal #btn-izquierda{
    left: 0;
}

.slider{
    display:flex;
    /* Quitamos scroll horizontal */
    overflow: hidden;
    height: calc(100vh = 80px);
}

.container-productos{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%; /*tamanio base de 100%*/
    flex-shrink: 0;
}

.descripcion-productos{
    width: 30%;
}


.descripcion-productos h1{
    font-size: 5vw; /* Tamanio responsive */
    font-weight: 600;
    text-transform: uppercase;
}

.descripcion-productos h2{
    text-transform: lowercase;
    font-size: 2.2vw;
    font-weight: 100;
}

.descripcion-productos p{
    color: var(--color-texto);
    font-size: italic;
    text-align: justify;
}

.imagen-productos{
    width: 50%;
    display: flex;
    justify-content: center;
}

.imagen-productos img{
    width: 100%;
    transform: scale(1.1);
    transition: all 0.3s;
}

.container-productos:hover .imagen-productos img{
    transform: scale(1.15);
}








/* MEDIA QUERY */
@media screen and (max-width: 650px){
    .menu-principal{
        position: fixed;  /*fijamos el menu*/
        top: 0; /*fijamos el menu en la parte superior*/
        margin-top: 0;
    }

    .menu-principal i{
        display: block; /* Mostramos los botones en tamanio reducido */
    }

    .menu-bar{
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
        background: #333;
        transition: all 1s;
        transform: translateX(100%);
    }

    /* sin espacio entre clases */
    .menu-bar.active{
        transform: translateX(0%);
    }

    .menu-bar i{
        position: absolute;
        right: 50px;
        top: 50px;
    }

    .menu-bar .enlaces ul li{
        display: block;
        padding: 20px 10px;
        text-align: center;
    }

    .menu-bar .enlaces ul li a,
    .menu-bar .sociales a{
        font-size: 20px;
    }

}
